DBUSERNAME=yourlogin
DBPASSWORD=yourpwd

# where to scp backups to
SERVERS=(server.com:/var/backup server2.com:/tmp)

# Where your backups are be stored
BACKUP_DIR=~/backup/

# This will usually be empty. Only severe errors are logged
BACKUP_LOG=~/backup.log

# Send emails about failed backups here
EMERGENCY_EMAIL=your@email.com

# Databses that you do NOT want backups of (grep regex syntax)
EXCLUDE_DB='Database|mysql|test|information_schema|phpmyadmin|performance_schema'
